# Default ignored files
.idea/
.gradle/
build/
out/

streams.properties
confluent.properties
*.log
notes.txt

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
